* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    width: 100%;
    height: 750px;
    // margin-top: 100px;
    vertical-align: top;
    overflow: hidden;
    background: #f9f9f9;
    .content-main {
        width: 854px;
        height: 650px;
        background: #fff;
        margin: 0 auto;
        margin-top: 50px;
        vertical-align: top;
        overflow: hidden;
        .login-box {
            background: #fff;
            width: 400px;
            height: 400px;
            // padding: 15px;
            margin: 0 auto;
            padding-top: 100px;
            .login {
                width: 400px;
                height: 400px;
                .login-logo {
                    text-align: center;
                    padding: 0 0 22px;
                }
                ul {
                    width: 400px;
                    padding: 8px 0;
                    input {
                        display: block;
                        border: 1px solid #ccc;
                        border-radius: 0;
                        font-weight: 300;
                        -webkit-appearance: none;
                        z-index: 100;
                        width: 368px;
                        height: auto;
                        color: #232323;
                        font-size: 14px;
                        margin-top: 0;
                        margin-bottom: 0;
                        padding: 6px 15px 8px;
                    }
                    li {
                        width: 400px;
                        height: 75px;
                    }
                }
                .checkOne {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                }
                span {
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    font-size: 16px;
                    margin-left: 5px;
                }
                p {
                    display: inline-block;
                    height: 16px;
                    line-height: 16px;
                    font-size: 14px;
                }
                button {
                    margin-top: 20px;
                    display: block;
                    width: 100%;
                    height: 34px;
                    border: 0;
                    text-align: center;
                    line-height: 34px;
                    background-color: rgb(194, 10, 10);
                    color: white;
                }
            }
        }
    }
}