<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1173011_vuziol4sj7.css">
</head>

<body>
    <div class="header">
    </div>

    <div class="content w">
        <div class="crumb">
            <ul>
                <li>
                    <a href="">首页</a>
                    <i class="crumb_arrow"></i>
                </li>
                <li>
                    <a href="">所有分类</a>
                    <i class="crumb_arrow"></i>
                </li>
                <li>
                    <a href="">鞋</a>
                    <i class="crumb_arrow"></i>
                </li>
            </ul>
        </div>

        <div class="detail">
            <!-- <div class="detail-left">
                <div class="detail-nav">
                    <div class="navUp"></div>
                    <ul class="list-nav">
                        <li>
                            <img src="../images/s1-1.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-2.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-3.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-4.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-5.jpg" alt="">
                        </li>
                    </ul>
                    <div class="navDown"></div>
                </div>

                <div class="midImg">
                    <img width="600" height="600" src="../images/s1-small.jpg" id="smallImg">
                    <div class="shadow"></div>

                </div>
                <div class="bigShadow">
                    <img src="../images/s1-big.webp" id="bigImg">
                </div>
            </div>

            <div class="detail-right">
                <h1>安踏男子2019氢跑鞋FLASHLITE科技网面轻便跑鞋11925541 </h1>
                <div class="sales">
                    <img src="../images/onsale.png" alt="">
                    <p class="sales-price">
                        <b class="red">￥</b>
                        <b class="current_price red">399.00</b>
                    </p>
                    <p class="sales-item">吊牌价:399.00 &nbsp;&nbsp; 折扣:100%(折让:￥0)</p>
                    <a href="javascript:;" class="sales-img">
                        <img src="../images/coupons-btn-pc.png" alt="">
                    </a>
                </div>
                <div class="onsales">
                    <p>
                        <a href="javascript:;" class="onsales_by">鞋服全场包邮>></a>
                        <br>
                    </p>
                </div>
                <h5>尺码:<span> 选择  尺码</span></h5>
                <ul id="radioStyle">
                    <li><span>39</span></li>
                    <li><span>40</span></li>
                    <li><span>40.5</span></li>
                    <li><span>41</span></li>
                    <li><span>42</span></li>
                    <li><span>42.5</span></li>
                    <li><span>43</span></li>
                    <li><span>44</span></li>
                </ul>
                <div class="num">
                    <button id="reduce">–</button>
                    <input type="text" value="1" id="shownum">
                    <button id="add">+</button>
                </div>
                <button id="myshopcar">加入购物车</button>
                <button id="buy">立即购买</button>

                <div class="pro-intro">
                    <h3>商品说明：</h3>
                    <p>
                        系列：跑步系列<br> 底料：成型EVA/橡胶 面料：织物
                    </p>
                </div>
            </div> -->


        </div>

    </div>

    <div class="cancel w-full">
        <div class="cancel-h w">
            <a href="./goodslist.html">继续购物</a>
        </div>
    </div>

    <div class="maybe-like w">
        <p>您可能还喜欢</p>
    </div>


    <div class="footer">
    </div>
</body>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/cookie.js"></script>
<script>
    $(".header").load("./header.html", function() {
        $.getScript("../js/header.js");
    });
    $(".footer").load("./footer.html");


    var urlMsg = window.location.search;
    if (urlMsg == "") {
        // window.location.href="";
    } else {
        var id = urlMsg.split("=")[1];
    }

    // $(".detail").html();

    var loginId = getCookie("loginId");

    $.ajax({
        type: "get",
        data: {
            id: id
        },
        url: `../php/detail.php`,
        dataType: "json",
        success: function(list) {
            var html = "";
            list.forEach(function(item) {
                var {
                    id,
                    goodsname,
                    goodsmallimg,
                    goodsbigimg,
                    goodsprice
                } = item;

                html += `
            <div class="detail-left">
                <div class="detail-nav">
                    <div class="navUp"></div>
                    <ul class="list-nav">
                        <li>
                            <img src="../images/s1-1.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-2.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-3.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-4.jpg" alt="">
                        </li>
                        <li>
                            <img src="../images/s1-5.jpg" alt="">
                        </li>
                    </ul>
                    <div class="navDown"></div>
                </div>

                <div class="midImg">
                    <img width="600" height="600" src="${goodsmallimg}" id="smallImg">
                    <div class="shadow"></div>

                </div>
                <div class="bigShadow">
                    <img src="${goodsbigimg}" id="bigImg">
                </div>
            </div>

            <div class="detail-right">
                <h1>${goodsname}</h1>
                <div class="sales">
                    <img src="../images/onsale.png" alt="">
                    <p class="sales-price">
                        <b class="red">￥</b>
                        <b class="current_price red">${(goodsprice*1).toFixed(2)}</b>
                    </p>
                    <p class="sales-item">吊牌价:399.00 &nbsp;&nbsp; 折扣:100%(折让:￥0)</p>
                    <a href="javascript:;" class="sales-img">
                        <img src="../images/coupons-btn-pc.png" alt="">
                    </a>
                </div>
                <div class="onsales">
                    <p>
                        <a href="javascript:;" class="onsales_by">鞋服全场包邮>></a>
                        <br>
                    </p>
                </div>
                <h5>尺码:<span> 选择  尺码</span></h5>
                <ul id="radioStyle">
                    <li><span>39</span></li>
                    <li><span>40</span></li>
                    <li><span>40.5</span></li>
                    <li><span>41</span></li>
                    <li><span>42</span></li>
                    <li><span>42.5</span></li>
                    <li><span>43</span></li>
                    <li><span>44</span></li>
                </ul>
                <div class="num">
                    <button id="reduce">–</button>
                    <input type="text" value="1" id="shownum">
                    <button id="add">+</button>
                </div>
                <button id="myshopcar" onclick="goTo('${loginId}','${id}')">加入购物车</button>
                <button id="buy" onclick="buyGoods('${loginId}','${id}')">立即购买</button>

                <div class="pro-intro">
                    <h3>商品说明：</h3>
                    <p>
                        系列：跑步系列<br> 底料：成型EVA/橡胶 面料：织物
                    </p>
                </div>
            </div
                `;
            });
            $(".detail").html(html);


            //放大镜
            $(".midImg").mouseover(function(e) {
                    $(".shadow").show();
                    $(".bigShadow").show();
                })
                // 鼠标移动事件
            $(".midImg").mousemove(function(e) {
                    // 获取鼠标当前的位置
                    var x = e.clientX;
                    var y = e.clientY;
                    // 获取窗口距离文档的偏移位置
                    var sX = $(".midImg").offset().left;
                    var sY = $(".midImg").offset().top;

                    // 鼠标移动的相对位置
                    var mx = x - sX;
                    var my = y - sY;
                    // 鼠标距离shadow的距离
                    var mw = $(".shadow").width() / 2;
                    var mh = $(".shadow").height() / 2;

                    // 鼠标移动后小框框的移动距离
                    $(".shadow").css({
                        left: mx - mw + 'px',
                        top: my - mh + 'px'
                    });
                    // 获取小框框的偏移位置
                    var lw = $(".shadow").position().left;
                    var lh = $(".shadow").position().top;

                    // 判断边界（shadow只能在窗口范围内移动）
                    var maxW = $(".midImg").width() - $(".shadow").width()
                    var maxH = $(".midImg").height() - $(".shadow").height()
                        // 左边界
                    if (lw <= 0) {
                        $(".shadow").css('left', '0px');
                    }
                    // 右边界
                    if (lw >= maxW) {
                        $(".shadow").css('left', maxW + 'px');
                    }
                    // 上边界
                    if (lh <= 0) {
                        $(".shadow").css('top', '0px');
                    }
                    // 下边界
                    if (lh >= maxH) {
                        $(".shadow").css('top', maxH + 'px');
                    }


                    // 获取小框框的偏移位置
                    var lw = $(".shadow").position().left;
                    var lh = $(".shadow").position().top;
                    // 计算鼠标在小图里的位置  *2.5计算大图移动的比例
                    var newX = lw * 2.5;
                    var newY = lh * 2.5;

                    $(".bigShadow img").css({
                        left: -newX + 'px',
                        top: -newY + 'px'
                    });

                })
                //绑定鼠标离开原图窗口事件
            $(".midImg").mouseout(function() {
                $(".shadow").hide();
                $(".bigShadow").hide();
            })

            // 选项卡
            $("#radioStyle li").on("click", function() {
                var index = $(this).index();
                $("#radioStyle li").eq(index).addClass("selected").siblings().removeClass("selected");
            })





            //加减
            $("#reduce").click(function() {
                var num = $("#shownum").val() * 1;
                if (num <= 1) {
                    $("#reduce").css({
                        "disable": "true",
                        "backgroundColor": "#fff"
                    })
                } else {
                    num--;
                    $("#shownum").val(num);
                    console.log(num);
                }
            })
            $("#add").click(function() {
                var num = $("#shownum").val() * 1;
                num++;
                $("#shownum").val(num);
                console.log(num);
            })


        },
        error: function() {
            alert("网络异常,请稍后再试...");
        }

    })


    // 加入购物车
    function goTo(userid, goodsid) {
        // alert(loginId);
        // alert(id);
        var num = $("#shownum").val();
        // alert(num);
        // var e = window.event || event;
        // e.stopPropagation();

        var loginId = getCookie("loginId");
        // var userid = loginId;
        // alert(userid);
        if (loginId) {
            $.ajax({
                type: "get",
                url: "../php/gotoshopcar.php",
                data: {
                    userid: userid,
                    goodsid: id,
                    num: num
                },
                dataType: "json",
                success: function(obj) {
                    if (obj["code"] == 1) {
                        if (confirm("加入成功 是否立即结算")) {
                            window.location.href = "shoppingcar.html"
                        } else {
                            // window.location.href = "goodslist.html";
                            cartNum();
                        }
                    } else {
                        alert(obj["msg"]);
                    }
                }
            })

        } else {
            confirm("你还没有登录,请登录!");
            gotoLogin();
        }

    }


    //立即购买
    function buyGoods(userid, goodsid) {

        var num = $("#shownum").val();

        $.ajax({
            type: "get",
            url: "../php/gotoshopcar.php",
            data: {
                userid: userid,
                goodsid: id,
                num: num
            },
            dataType: "json",
            success: function(obj) {
                if (obj["code"] == 1) {
                    window.location.href = "shoppingcar.html"

                } else {
                    alert(obj["msg"]);
                }
            }
        })
    }


    function gotoLogin() {
        setCookie("backUrl", window.location.href, 7);
        window.location.href = "login.html";
    }
</script>

</html>