<div class="top w">
    <a class="logo" href="../index.html"></a>
    <p class="logo-box">
        <a href="../layout/login.html" class="login-btn">登陆</a>|
        <a href="../layout/register.html" class="reg-btn">注册</a>
    </p>
    <ul class="quick-meau">
        <li>
            <a href="javascript:;">我的安踏</a>|
        </li>
        <li><a href="javascript:;">品牌官网</a>|</li>
        <li>
            <i class="icon icon-phone"></i>
            <a href="javascript:;">手机商城</a>|
        </li>
        <li><a href="" style="color:#d00">企业团购</a>|</li>
        <li>
            <i class="icon icon-cart"></i>
            <a href="javascript:;">购物车<span id="cartsum">(0)</span>件</a>
        </li>
    </ul>
</div>
<div class="nav w-full">
    <div class="main-nav w">
        <div class="all-style">
            <a href="javascript:;" class="all-style-title">所有商品分类</a>
            <ul class="all-style-tab" style="display:none">
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">加大码鞋</a>
                        <a href="javascript:;" class="style">2019新品</a>
                    </p>
                </li>
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                </li>
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                </li>
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                </li>
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                </li>
                <li>
                    <h3><a href="javascript:;">男鞋</a></h3>
                    <p>
                        <a href="javascript:;" class="style">跑步鞋</a>
                        <a href="javascript:;" class="style">篮球鞋</a>
                        <a href="javascript:;" class="style">休闲鞋</a>
                        <a href="javascript:;" class="style">板鞋</a>
                    </p>
                    <p>
                        <a href="javascript:;" class="style">帆布鞋</a>
                        <a href="javascript:;" class="style">足球鞋</a>
                        <a href="javascript:;" class="style">保暖棉鞋</a>
                    </p>
                </li>
            </ul>
        </div>
        <ul class="line-nav">
            <li class="item">
                <a href="">首页</a>
            </li>
            <li class="item"><a href="javascript:;">跑步</a></li>
            <li class="item"><a href="javascript:;">篮球</a></li>
            <li class="item"><a href="javascript:;">足球</a></li>
            <li class="item"><a href="javascript:;">健身</a></li>
            <li class="item"><a href="javascript:;">休闲</a></li>
            <li class="item"><a href="javascript:;">配件</a></li>
            <li class="item"><a href="javascript:;">儿童</a></li>
            <li class="item">
                <a href="javascript:;" class="con-img">
                    <img src="../images/uni_logo.png">
                </a>
            </li>
        </ul>
        <div class="nav-search">
            <input type="text" class="nav-search-input">
            <a class="nav-search-btn" id="search"></a>
        </div>
    </div>
</div>